.img-logo {
  width: 40px;
  height: auto;
}

a {
  color: #373a3c;

  &:hover {
    color: black !important;
  }
}

nav {
  padding: 10px;
  padding-left: 0;
}

.nav--bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.nav--item {
  padding: 10px;
}

.logo--container {
  margin-right: auto;
  padding-left: 0;
}

.img--logo {
  width: 100px;
}

.content--page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page--intro {
  margin-top: -140px;
}
